* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
  background: #FAFAFA;
  font-family: 'Lucida Grande', Arial, sans-serif;
}

h1 {
  font-weight: 300;
  font-size: 14px;
  text-align: center;
}

label {
  font-size: 12px;
  text-transform: uppercase;
}

.debug-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: rgba(255, 64, 64, 0.17);
  border: 1px solid #ff4040;
  z-index: 10;
}

manga-reader {
  display: block;
  width: 100vw;
  padding: 0 15px;
  margin: 15px 0;
}

manga-reader canvas {
  width: 100%;
  height: auto;
  background: #fff;
}
