* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
  background: #FAFAFA;
  font-family: 'Lucida Grande', Arial, sans-serif;
}

h1 {
  font-weight: 300;
  font-size: 14px;
  text-align: center;
}

label {
  font-size: 12px;
  text-transform: uppercase;
}

.debug-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: rgba(255, 64, 64, 0.17);
  border: 1px solid #ff4040;
  z-index: 10;
}

manga-reader {
  position: relative;
  display: block;
  width: auto;
  padding: 0 15px;
  margin: 15px 0;
}

manga-reader canvas {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 980px;
  height: auto;
  background: #fff;
}

manga-reader .pagination {
  display: block;
  width: 100%;
  list-style: none;
  margin: 18px 0;
  padding:0;
  text-align: center;
}

manga-reader .pagination li {
  padding:0;
  display: inline-block;
  margin: 0 4px;
}

manga-reader .pagination a.active {
  text-decoration: none;
  font-weight: bold;
}

manga-reader .manga-reader__spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -25px;
  margin-top: -25px;
  display: block;
  width: 50px;
  height: 20px;
}
manga-reader .manga-reader__spinner:after {
  display: block;
  width: 100%;
  content: '';
  text-align: center;
  animation-name: manga-reader-loader;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes manga-reader-loader {
  0% {
    content: '';
  }
  25% {
    content: '.';
  }
  50% {
    content: '..';
  }
  75% {
    content: '...';
  }
  100% {
    content: '';
  }
}
